
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
# Android Studio will place build artifacts here
# Android related
# Exceptions to above rules.
# Flutter/Dart/Pub related
# IntelliJ related
# Miscellaneous
# Obfuscation related
# Proguard checks
# Symbolication related
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this is
# Web related
# commented out by default.
# iOS/XCode related
#.vscode/
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/GeneratedPluginRegistrant.java
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/doc/api/
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.xcode.env.local
**/ios/**/GCNOcov
**/ios/.symlinks/
**/ios/DerivedData/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Pods/
**/ios/Profile/
**/ios/Release/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/ServiceDefinitions.json
*.class
*.freezed.dart
*.g.dart
*.iml
*.ipr
*.iws
*.log
*.pyc
*.riverpod.g.dart
*.swp
.DS_Store
.atom/
.buildlog/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.history
.idea/
.packages
.pub-cache/
.pub/
.svn/
/android/app/libs/
/android/app/proguard-rules.pro
/android/key.properties
/android/local.properties
/build/
app.*.map.json
app.*.symbols
build/
lib/generated_plugin_registrant.dart
